#Constants {
    includeNativeBool: true;
    --small-text: 1.5mm;
    --med-text: 2.5mm;
    --large-text: 5mm;
}


@font-face {
    font-family: "JetBrainsMono";
    src: url("fonts/JetBrainsMono-Regular.ttf");
}

ErrorContainer {
    cn1-derive: Container;
    border: 1px solid red;
}
ErrorTextField {
    cn1-derive: TextField;
    border: 1px solid red;
}

ErrorMessage {
    cn1-derive: Label;
    color: red;
}

ConsoleBuffer {
    font-family: "JetBrainsMono";
    font-size: var(--med-text);
    color: #333333;
    background-color: white;
}

FieldLabel {
    cn1-derive: Label;
    font-size: var(--small-text);
}

H2 {
    font-size: var(--large-text);
    cn1-derive:Label;
    color: black;

}

TextField {
    font-size: var(--med-text);
    padding: 2mm;
}

TextHint {
    font-size: var(--med-text);
    padding: 2mm;
}

Button {
    border: 1px solid #cccccc;
    color: #333333;
    border-radius: 2mm;
    margin: 1mm;
    font-size: var(--med-text);
    padding: 3mm;
}

Images {
    background-image: url("images/codenameone-logo.png");
    cn1-source-dpi: 160;
}

Button.pressed {
    background-color: #666666;
    color: white;
}

FeaturedButton {
    cn1-derive: Button;
    background-color: #007AFF;
    border: 1px solid transparent;
    color: white;

}

Title {
    font-size: var(--large-text);
    font-weight: normal;
    color: #999999;
    padding: 10mm;
}
